<tabset justified="true">
  <tab heading="Overview" select="loadOverview()">
    <div ng-show="overviewConfig.loading">
      <img src="images/ajax-loader.gif" alt="loader" style="display:block;margin-left:auto;margin-right:auto;">
    </div>
    <highchart id="overview" config="overviewConfig" ng-if="!overviewConfig.loading"></highchart>

    <div class="container" ng-if="overviewResources && overviewResources.length > 0">
      <h2 class="edb-text-center">Most popular resources</h2>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Title</th>
            <th>Views</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="resource in overviewResources">
            <th scope="row">{{::$index+1}}</th>
            <td><a ng-href="{{::resource.url}}" target="_blank">{{::resource.title}}</a></td>
            <td>{{::resource.views}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </tab>
  <tab heading="Lessons" select="loadLessons()">
    <div ng-show="!lessonsWithUnits">
      <img src="images/ajax-loader.gif" alt="loader" style="display:block;margin-left:auto;margin-right:auto;">
    </div>

    <tabset ng-if="lessonsWithUnits.length > 0">
      <tab heading="Lesson {{$index+1}}" ng-repeat="lesson in lessonsWithUnits" select="selectLessonTab($index)" disable="unitAjaxInProgress" active="lesson.active">
        <h3 class="edb-text-center">{{::lesson.title}}</h3>
        <tabset ng-if="lesson.units.length > 0">
          <tab heading="Unit {{$index+1}}" ng-repeat="unit in lesson.units" select="loadCourseLessonUnit(lesson.id, unit.id)" disable="unitAjaxInProgress" active="unit.active">
            <h4 class="edb-text-center">{{::unit.title}}</h4>
          </tab>
        </tabset>

        <alert type="warning" ng-if="lesson.units.length === 0">Lesson has no units.</alert>
      </tab>
    </tabset>

    <div ng-show="unitAjaxInProgress">
      <img src="images/ajax-loader.gif" alt="loader" style="display:block;margin-left:auto;margin-right:auto;">
    </div>

    <alert type="warning" ng-if="lessonsWithUnits.length === 0">Course has no lessons.</alert>

    <highchart id="learning-content" config="learningContentConfig" ng-if="!learningContentConfig.loading"></highchart>
    <highchart id="assignments" config="assignmentsConfig" ng-if="!assignmentsConfig.loading"></highchart>

    <div class="container" ng-if="unitResources && unitResources.length > 0">
      <h5 class="edb-text-center">Most popular resources</h5>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Page URL</th>
            <th>Views</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="resource in unitResources">
            <th scope="row">{{::$index+1}}</th>
            <td>
              <span>{{::resource.title}}</span>
              <span>{{::resource.language}}</span>
            </td>
            <td><a ng-href="{{::resource.url}}" target="_blank">{{::resource.url}}</a></td>
            <td>{{::resource.views}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </tab>
  <tab heading="Participants" select="loadParticipants()">
    <highchart id="participants" config="participantsConfig" ng-if="!participantsConfig.loading"></highchart>
    <div ng-show="participantsConfig.loading">
      <img src="images/ajax-loader.gif" alt="loader" style="display:block;margin-left:auto;margin-right:auto;">
    </div>

    <tabset justified="true" ng-if="!participantsConfig.loading">
      <tab heading="Enrolled">
        <table class="table table-striped table-hover" ng-if="enrolledStudents">
          <thead>
            <tr>
              <th>#</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="student in enrolledStudents">
              <th scope="row">{{::$index+1}}</th>
              <td>{{::student.firstName}}</td>
              <td>{{::student.lastName}}</td>
              <td>
                <a ng-href="mailto:{{::student.email}}">{{::student.email}}</a>
              </td>
            </tr>
          </tbody>
        </table>
      </tab>
      <tab heading="Unenrolled">
        <table class="table table-striped table-hover" ng-if="unenrolledStudents">
          <thead>
            <tr>
              <th>#</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="student in unenrolledStudents">
              <th scope="row">{{::$index+1}}</th>
              <td>{{::student.firstName}}</td>
              <td>{{::student.lastName}}</td>
              <td>
                <a ng-href="mailto:{{::student.email}}">{{::student.email}}</a>
              </td>
            </tr>
          </tbody>
        </table>
      </tab>
    </tabset>
  </tab>
  <tab heading="Activity Stream" select="loadActivityStream()">
    <div ng-show="!activityData">
      <img src="images/ajax-loader.gif" alt="loader" style="display:block;margin-left:auto;margin-right:auto;">
    </div>
    <ul class="list-group" ng-repeat="dateData in activityData">
      <li class="list-group-item">
        <h4 class="list-group-item-heading">{{::dateData.date}}</h4>
        <p class="list-group-item-text">
          <ul class="list-group" ng-repeat="activity in dateData.activities">
            <li class="list-group-item">
              <span>{{::activity.time}}</span>
              <span>{{::activity.name}}</span>
              <span>{{::activity.type}}</span>
              <a ng-href="{{::activity.url}}" target="_blank">{{::activity.title}}</a>
            </li>
          </ul>
        </p>
      </li>
    </ul>
  </tab>
  <tab heading="Social Network Analysis" select="loadSna()" disable="true"></tab>
</tabset>
