<tabset justified="true">
  <tab heading="Overview" select="loadOverview()" ng-if="isTeacherDashboard()">
    <ajax-loader ajax-loading="overviewConfig.loading"></ajax-loader>
    <highchart id="overview" config="overviewConfig" ng-if="!overviewConfig.loading"></highchart>

    <div class="container" ng-if="overviewResources && overviewResources.length > 0">
      <h2 class="edb-text-center">Most popular resources</h2>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Title</th>
            <th>Views</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="resource in overviewResources">
            <th scope="row">{{::$index+1}}</th>
            <td><a ng-href="{{::resource.url}}" target="_blank">{{::resource.title}}</a></td>
            <td>{{::resource.views}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </tab>
  <tab heading="Lessons" select="loadLessons()" ng-if="isTeacherDashboard()">
    <ajax-loader ajax-loading="!lessonsWithUnits"></ajax-loader>
    <p>{{::test}}</p>

    <tabset ng-if="lessonsWithUnits.length > 0">
      <tab heading="Lesson {{$index+1}}" ng-repeat="lesson in lessonsWithUnits" select="selectLessonTab($index)" disable="unitAjaxInProgress" active="lesson.active">
        <h3 class="edb-text-left">{{::lesson.title}}</h3>
        <tabset ng-if="lesson.units.length > 0">
          <tab heading="Unit {{$index+1}}" ng-repeat="unit in lesson.units" select="loadCourseLessonUnit(lesson.id, unit.id)" disable="unitAjaxInProgress" active="unit.active">
            <h4 class="edb-text-left">{{::unit.title}}</h4>
          </tab>
        </tabset>

        <alert type="warning" ng-if="lesson.units.length === 0">Lesson has no units.</alert>
      </tab>
    </tabset>

    <ajax-loader ajax-loading="unitAjaxInProgress"></ajax-loader>

    <alert type="warning" ng-if="lessonsWithUnits.length === 0">Course has no lessons.</alert>

    <highchart id="learning-content" config="learningContentConfig" ng-if="!learningContentConfig.loading"></highchart>
    <highchart id="assignments" config="assignmentsConfig" ng-if="!assignmentsConfig.loading"></highchart>

    <div class="container" ng-if="unitResources && unitResources.length > 0">
      <h5 class="edb-text-center">Most popular resources</h5>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Page URL</th>
            <th>Views</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="resource in unitResources">
            <th scope="row">{{::$index+1}}</th>
            <td>
              <span>{{::resource.title}}</span>
            </td>
            <td><a ng-href="{{::resource.url}}" target="_blank">{{::resource.url}}</a></td>
            <td>{{::resource.views}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </tab>
  <tab heading="Participants" select="loadParticipants()" ng-if="isTeacherDashboard()">
    <ajax-loader ajax-loading="participantsConfig.loading"></ajax-loader>
    <highchart id="participants" config="participantsConfig" ng-if="!participantsConfig.loading"></highchart>

    <tabset justified="true" ng-if="!participantsConfig.loading">
      <tab heading="Enrolled">
        <table class="table table-striped table-hover" ng-if="enrolledStudents">
          <thead>
            <tr>
              <th>#</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="student in enrolledStudents">
              <th scope="row">{{::$index+1}}</th>
              <td>{{::student.firstName}}</td>
              <td>{{::student.lastName}}</td>
              <td>
                <a ng-href="mailto:{{::student.email}}">{{::student.email.split('@')[0]}}</a>
              </td>
            </tr>
          </tbody>
        </table>
      </tab>
      <tab heading="Unenrolled">
        <table class="table table-striped table-hover" ng-if="unenrolledStudents">
          <thead>
            <tr>
              <th>#</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="student in unenrolledStudents">
              <th scope="row">{{::$index+1}}</th>
              <td>{{::student.firstName}}</td>
              <td>{{::student.lastName}}</td>
              <td>
                <a ng-href="mailto:{{::student.email}}">{{::student.email}}</a>
              </td>
            </tr>
          </tbody>
        </table>
      </tab>
    </tabset>
  </tab>


  <tab heading="Student Progress Overview" select="loadStudentOverview()" ng-if="isStudentDashboard()">
    <ajax-loader ajax-loading="unitAjaxInProgress"></ajax-loader>

    <div class="container-fluid">
        <span class="label course-date label-xlg label-light arrowed-right">Course start: {{::course_start_date}}</span>
        <span class="label course-date label-xlg label-light arrowed-in arrowed-right">Course end: {{::course_end_date}}</span>

        <div class="col-sm-10 col-sm-offset-1">
            <h1 class="edb-text-left">{{::title}}</h1>
            <h2 class="edb-text-center student-tab">My progress</h2>

          <div class="col-sm-6">
            <div class="jumbotron jumbotron-chart">
              <div class="easy-pie-chart percentage my-chart easyPieChart" data-percent="{{units_visited_by_me*100/total_units}}" data-size="160" data-color="#c464ac">
                <span class="percent">{{::units_visited_by_me}} out of {{::total_units}}</span>
                <canvas width="160" height="160"></canvas></div>
              <div class="infobox-data">
                <div class="infobox-content">Units visited</div>
              </div>
            </div>
          </div>

            <div class="col-sm-6">

                <div class="jumbotron jumbotron-chart">
                  <div class="easy-pie-chart percentage my-chart easyPieChart" data-percent="{{::avg_score_by_me}}" data-size="160" data-color="#00aa9d">
                    <span class="percent">{{::avg_score_by_me}}</span>%
                    <canvas width="160" height="160"></canvas></div>
                  <div class="infobox-data">
                    <div class="infobox-content">Average score</div>
                  </div>
                </div>

            </div>

        </div>


        <div class="col-sm-10 col-sm-offset-1">
            <div class="alert alert-info">
              You made {{::posts_made_by_me}} post(s) and {{::comments_made_by_me}} comment(s).
            </div>
        </div>

        <div class="col-sm-10 col-sm-offset-1">


            <div class="widget-box collapsed">
              <div class="widget-header header-color-pink">
                <h5>Find out how the other students did</h5>

                <div class="widget-toolbar">
                  <a href="#" data-action="collapse">
                    <i class="1 bigger-125 icon-chevron-down"></i>
                  </a>
                </div>

              </div>

              <div class="widget-body">
                <div class="widget-body-inner" style="display: block;">
                  <div class="widget-main">
                      <div class="container-fluid">
                        <div class="col-sm-6">
                            <div class="jumbotron jumbotron-chart">
                              <div class="easy-pie-chart percentage others-chart easyPieChart" data-percent="{{avg_units_visited_by_students*100/total_units}}" data-size="160" data-color="#c464ac">
                                <span class="percent">{{::avg_units_visited_by_students}} out of {{::total_units}}</span>
                                <canvas width="160" height="160"></canvas></div>
                              <div class="infobox-data">
                                <div class="infobox-content">Average units visited</div>
                              </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="jumbotron jumbotron-chart">
                              <div class="easy-pie-chart percentage others-chart easyPieChart" data-percent="{{::avg_score_by_students}}" data-size="160" data-color="#00aa9d">
                                <span class="percent">{{::avg_score_by_students}}</span>%
                                <canvas width="160" height="160"></canvas></div>
                              <div class="infobox-data">
                                <div class="infobox-content">Average score</div>
                              </div>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <p class="alert alert-info">
                              The number of post(s) made by students for this course is {{::posts_made_by_others}} and the number of comment(s) is {{::comments_made_by_others}}.
                            </p>
                        </div>
                      </div>

                  </div>
                </div>
              </div>
            </div>
        </div>


        <div class="col-sm-10 col-sm-offset-1">

            <h2 class="edb-text-center student-tab">Course structure</h2>

            <div class="dd course-structure">

              <ol class="dd-list">


                <li class="dd-item" data-id="{{::$index+1}}" ng-repeat="lesson in lessons">
                  <div class="dd-handle dd-nodrag">

                    <a class="emma_pink" ng-href="{{::lesson.url}}" target="_blank">{{::lesson.title}}</a>
                  </div>

                  <ol class="dd-list" style="">
                    <li class="dd-item item-orange" data-id="{{::$index+1}}" ng-if="unit.url.length>0" ng-repeat="unit in lesson.units">

                      <div class="dd-handle dd-nodrag">
                        <a ng-href="{{::unit.url}}" target="_blank">{{::unit.title}}</a>
                        <span class="sticker" ng-repeat="unit_visited in units_visited" ng-if="unit_visited._id==unit.url">

                          <span class="label label-success arrowed-in">
                            <i class="icon-ok bigger-110"></i>
                          </span>
                        </span>
                      </div>

                      <ol class="dd-list" style="" ng-if="unit.assignments.length>0">
                        <li class="dd-item item-red" data-id="{{::$index+1}}" ng-repeat="assignment in unit.assignments">
                          <div class="dd-handle dd-nodrag assignment">

                            <a ng-href="{{::assignment.url}}" target="_blank">{{::assignment.title}}</a>
                            <span ng-repeat="assignment_submitted in assignments_submitted" ng-if="assignment_submitted._id==assignment.url">

                              <span ng-if="assignment_submitted.sesses==false">
                                <div class="pull-right score">
                                  <span class="badge badge-danger">Average: {{::assignment_submitted.score_avg}}%</span>
                                  <span class="badge badge-danger">Last: {{::assignment_submitted.score_last}}%</span>
                                </div>
                                <span class="sticker">
                                  <span class="label label-important arrowed-in">
                                    <i class="icon-ok bigger-110"></i>
                                  </span>
                                </span>
                              </span>

                              <span ng-if="assignment_submitted.sesses==true">
                                <div class="pull-right score">
                                  <span class="badge badge-success">Average: {{::assignment_submitted.score_avg}}%</span>
                                  <span class="badge badge-success">Last: {{::assignment_submitted.score_last}}%</span>
                                </div>
                                <span class="sticker">
                                  <span class="label label-success arrowed-in">
                                    <i class="icon-ok bigger-110"></i>
                                  </span>
                                </span>
                              </span>

                            </span>
                          </div>
                        </li>
                      </ol>

                    </li>
                  </ol>

                </li>

              </ol>
            </div>
        </div>
    </div>
  </tab>



  <tab heading="Activity Stream" select="loadActivityStream()" ng-if="isAnyDashboard()">
    <ajax-loader ajax-loading="!activityData"></ajax-loader>
    <span class="label activities-count label-xlg label-light arrowed-right" ng-show="activityCount">Number of activities shown: {{::activityCount}}</span>
    <div class="timeline-container timeline-style2" ng-repeat="dateData in activityData">
    <span class="timeline-label dt-timeline-label">
        <b>{{::dateData.date}}</b>
        <span class="badge badge-grey">{{::dateData.activities.length}}</span>
    </span>
      <div class="timeline-items">
        <div class="timeline-item clearfix" ng-repeat="activity in dateData.activities" >
          <div class="timeline-info">
            <span class="timeline-date">{{::activity.time}}</span>

            <i class="timeline-indicator btn btn-success no-hover"></i>
          </div>

          <div class="widget-box transparent">
            <div class="widget-body">
              <div class="widget-main no-padding">
                <div class="clearfix">
                  <span>{{::activity.name}}</span>
                  <span>{{::activity.type}}</span>
                  <span class="orange2 bolder"><a ng-href="{{::activity.url}}" target="_blank">{{::activity.title}}</a></span>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div><!-- /.timeline-items -->
    </div>


  </tab>


  <tab heading="Social Network Analysis" select="loadSna()" ng-if="isAnyDashboard()">
    <ajax-loader ajax-loading="snaData.loading"></ajax-loader>
    <div class="container" ng-if="snaData.noConnections">
      <div class="alert alert-info">Social Network Diagram could not be shown. System was unable to detect any connections.</div>
    </div>
    <sigmajs graph="snaData" ng-if="!snaData.noConnections"></sigmajs>
  </tab>
</tabset>
